[submodule "test"]
	path = test
	url = git://github.com/kohana/core.git
[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/kohana/minion.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = git://github.com/kohana/codebench.git
[submodule "modules/email"]
	path = modules/email
	url = https://github.com/shadowhand/email.git
[submodule "modules/subdomain"]
	path = modules/subdomain
	url = https://github.com/jeanmask/subdomain.git
[submodule "modules/acl"]
	path = modules/acl
	url = https://github.com/Wouterrr/ACL.git
[submodule "modules/minify"]
	path = modules/minify
	url = https://github.com/pocesar/minify-kohana.git
[submodule "modules/gravatar"]
	path = modules/gravatar
	url = https://github.com/samsoir/kohana-gravatar.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = https://github.com/shadowhand/uuid.git
[submodule "modules/notices"]
	path = modules/notices
	url = https://github.com/synapsestudios/kohana-notices.git
[submodule "application/vendor/swiftmailer"]
	path = application/vendor/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "modules/captcha"]
	path = modules/captcha
	url = https://github.com/kolanos/kohana-captcha.git
