
<div class="row no-gutter text-{{app.setting.theme.primary}}-hover">
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center">
      <i class="material-icons md-24 text-muted m-v-sm">alarm</i>
      <span class="block">Alarm</span>
    </a>
  </div>
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center">
      <i class="material-icons md-24 text-muted m-v-sm">favorite_border</i>
      <span class="block">Favorite</span>
    </a>
  </div>
  <div class="col-xs-4 b-b">
    <a class="p-a block text-center">
      <i class="material-icons md-24 text-muted m-v-sm">history</i>
      <span class="block">History</span>
    </a>
  </div>
  <div class="col-xs-4 b-r">
    <a class="p-a block text-center">
      <i class="material-icons md-24 text-muted m-v-sm">call</i>
      <span class="block">Call</span>
    </a>
  </div>
  <div class="col-xs-4 b-r">
    <a class="p-a block text-center">
      <i class="material-icons md-24 text-muted m-v-sm">chat</i>
      <span class="block">Chat</span>
    </a>
  </div>
  <div class="col-xs-4">
    <a class="p-a block text-center">
      <i class="material-icons md-24 text-muted m-v-sm">email</i>
      <span class="block">Inbox</span>
    </a>
  </div>
</div>
